<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Our Band
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Our Band </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-card>
      <img width = "2000" height = "400" src="assets/images/photo_03.jpg" alt="antarctica album">
      <ion-card-header>
        <ion-card-title>About us</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        A METAL band from Badajoz, Spain<br>
        @javidroide: Guitar/Keys<br>
        @juanex__: Bass<br>
        @jisusfrank_22: Guitar<br>
        @3blllvck: Vocals/Guitar<br>
        @juanma_teo : Drums<br>
        <a href="https://www.twitch.tv/arakna_official">Twitch</a>
      </ion-card-content>
    </ion-card>

  </ion-content>

</ion-content>
