<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Discography
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Discography</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-card>
      <img width = "2000" height = "400" src="assets/images/album_antarctica.jpg" alt="antarctica album"><br>
      <img src="assets/images/code_antarctica.png" alt="antarctica code">
      <ion-card-header>
        <ion-card-title>Antarctica</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Antarctica - Album - 2019<br>
        <a href="https://open.spotify.com/album/3auPPPbYk8jeCxhPTwH5kd?si=o9uNYvTwRySbk_RN0iEnWQ">Spotify</a>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img width = "2000" height = "400" src="assets/images/single_the-traveller.jpg" alt="the traveller single"><br>
      <img src="assets/images/code_the-traveller.png" alt="the traveller code">
      <ion-card-header>
        <ion-card-title>The Traveller</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        The Traveller - Single - 2018<br>
        <a href="https://open.spotify.com/album/43GWQEEx0iJeZJ5mnrx1Na?si=PCepr4ALRzi-ujQiesQDKw">Spotify</a>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <img width = "2000" height = "400" src="assets/images/single_northlands.jpg" alt="northlands single"><br>
      <img src="assets/images/code_northlands.png" alt="northlands code">
      <ion-card-header>
        <ion-card-title>Northlands</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Northlands - Single - 2018<br>
        <a href="https://open.spotify.com/album/3Uewq9IEX7kRUKd6FnwCJ6?si=WE4qHf0HQ_yAL8GsQDfPRA">Spotify</a>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img width = "2000" height = "400" src="assets/images/single_white-wolves.jpg" alt="white wolves single"><br>
      <img src="assets/images/code_white-wolves.png" alt="white wolves code">
      <ion-card-header>
        <ion-card-title>White Wolves</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        White Wolves - Single - 2017<br>
        <a href="https://open.spotify.com/track/4YC2E7UysiUUBmjlIFXyB3?si=d66ec58fd07b4e39">Spotify</a>
      </ion-card-content>
    </ion-card>
  </ion-content>

</ion-content>
