<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Shop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (click)="loadProducts()" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shop </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
     <ion-card *ngFor="let product of products">
      <img width = "2000" height = "400" src="{{product.image}}" alt="antarctica album">
      <ion-card-header>
        <ion-card-title>{{product.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Price: {{product.price}}
      </ion-card-content>
    </ion-card> 

  </ion-content>

</ion-content>
